/* PC */

@media(min-width: 992px) {
    .mobile-header {
        display: none;
    }
}


/* Tablet & Mobile */

@media(max-width: 991.98px) {
    .header-top {
        position: relative;
    }
    .header-top .logo {
        position: absolute;
        translate: -50% -50%;
        left: 50%;
    }
    .navbar {
        display: none;
    }
    .menu-header__icon {
        position: absolute;
        top: 38px;
        left: 26px;
        color: #fff;
        width: 24px;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    /* check overlay */
    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-drawer {
        position: fixed;
        background-color: #2e1919;
        inset: 0 40% 0 0;
        z-index: 1;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 60px;
    }
    /* check checkbox*/
    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }
    .close__menu {
        width: 24px;
        color: #fff;
    }
    .menu-drawer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__list {
        margin-top: 25px;
        flex-direction: column;
    }
    #navbar__list--mobile {
        margin-top: 25px;
    }
    .navbar__link {
        display: block;
        font-size: 2rem;
    }
    .navbar__link:hover {
        background-color: #fff;
        color: #000;
    }
    /* hero */
    .hero {
        flex-direction: column;
        gap: 50px;
    }
    .hero__media {
        order: 1;
    }
    .hero__content {
        order: 2;
        width: 80%;
        text-align: center;
        margin: 22px auto;
    }
    .hero__row {
        justify-content: center;
    }
    /* services */
    .service__row {
        flex-direction: column;
        row-gap: 20px;
    }
    .service__img {
        width: 100%;
    }
    .service__list {
        text-align: center;
    }
    .service-item {
        width: 90%;
        text-align: start;
    }
    /* works */
    .works__list {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    /* about */
    .about-row {
        flex-direction: column;
        row-gap: 20px;
    }
    .about__img-small {
        display: none;
    }
    .about__media {
        width: 100%;
    }
    .about__img-large {
        width: 100%;
        border-radius: 15px;
    }
    .about-content {
        width: 90%;
        text-align: center;
    }
}


/* Tablet */

@media(min-width: 768px) and (max-width: 991.98px) {}


/* Mobile */

@media(max-width: 767.98px) {}