/* header */
.header {
    background: var(--bg-color);
    min-height: 100vh;
}

.header-top {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar__list {
    display: flex;
}

.header__action--login,
.navbar__link {
    padding: 8px 21px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    position: relative;
    top: -3px;
    right: 8px;
}

.header__action--login {
    margin-right: 7px;
}

.header__action--signup {
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
    font-weight: 400;
}

/* hero */
.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 70px;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    padding-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    column-gap: 38px;
}

.hero__phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    object-fit: cover;
}

.hero__img-large {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img-small {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* services */
.services {
    background: #fff;
    padding: 170px 0;
}

.service__desc,
.service__heading{
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 18px  auto 0;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-left: 130px;
}

.service-item {
    padding: 21px;
    display: flex;
    width: 470px;
    background: #FFF;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #FFF;
    background: #2E80CE;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    margin-right: 19px;
    transition: 0.25s;
}

/* works */
.works {
    padding: 100px 0;
    background: #F6FBFF;
}

.works__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.works__desc {
    margin-top: 18px;
    width: 468px;
}

.works-item {
    padding: 43px;
    border-radius: 4px;
    background: #FFF;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.works-item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}


.works-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.works-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.works-item__more {
    margin-top: 18px;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    color: #2E80CE;
}

/* about */
.about {
    margin-top: 85px;
    padding: 85px 0 206px;
    background: #FFF;
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__media {
    width: 49%;
}

.about__images {
    position: relative;
}
.about__img-large {
    display: flex;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img-small {
    width: 332px;
    height: 370px;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    object-fit: cover;
    top: 121px;
    left: 238px;
}

.about-content {
    width: 40%;
}

.about__desc {
    margin-top: 18px;
}

.about__more {
    margin-top: 53px;
}

/* our team */
.our-team {
    padding: 85px 0;
}

.team-header {
    text-align: center;
    margin: 0 auto;
}

.meet_our_btn {
    margin-top: 38px;
}

.team__list {
    margin-top: 70px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.team-item:hover .team-item__thumb {
    transform: scale(1.1);
}

.team-item__thumb {
    height: 290px;
    min-width: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}

.team-item__img-bg {
    padding-top: 28px;
    background: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}

.team-item__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.team-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}

.team__control {
    margin-top: 38px;
    justify-content: center;
}

/* install mobile */
.install-mobole__inner {
    margin: 160px 0 85px;
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    position: relative;
}

.install-mobile__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.install-mobile__content {
    min-width: 586px;
}

.install-mobile__heading {
    max-width: 489px;
    color: #FFF;
}

.install-mobile__desc {
    margin-top: 18px;
    max-width: 586px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.install-mobile__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
    align-items: center;
}

/* blog */
.blog {
    padding: 85px 0;
    background: #FFF;
}

.blog__innner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__content {
    width: 40%;
}

.blog__heading {
    max-width: 470px;
}

.blog__more {
    margin-top: 28px;
    color: #10375C;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
    text-decoration-line: underline;
    display: inline-block;
    text-underline-offset: 4px;
}

.blog__control {
    margin-top: 28px;
    justify-content: flex-start;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.blog-item {
    width: 270px;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    overflow: hidden;
    transition: 0.5s;
}

.blog-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.blog-item:hover .blog-item__thumb {
    transform: scale(1.1);
}

.blog-item__wrap {
    height: 172px;
    overflow: hidden;
}

.blog-item__thumb {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    transition: 0.25s;
}

.blog-item__body {
    padding: 22px 18px;
}

.blog-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71; /* 171.429% */
}

.blog-item__more {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline-block;
}

.blog-item:hover .blog-item__more {
    color: #2E80CE;
}
